/* importação de fonte pelo 'fonts google': */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* { /* resetar config padrão do navegador */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

#particles-js {
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    pointer-events: none;
    z-index: 3; /* Aumente o z-index para que fique acima das outras camadas */
  }

/*MENU*/
#cabecalho {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para destaque */
}

/*class ativada com js para fixar o menu principal:*/
.cabecalho-rolagem {
    position: fixed; /*fixar menu na tela*/
    width: 100%;
    top: 0;
    z-index: 999; /*sobreposição nos itens*/
    background-color: white; /* Fundo branco ou cor desejada */
}

#cabecalho .container {
    display: flex; /*elementos um ao lado do outro*/
    align-items: center; /*centralizar o elemento, removendo distorção da imagem*/
    justify-content: space-between; /*elementos em lados opostos*/
}

/* Estilo para o botão hamburger */
.navbar-toggler {
    border: none; /* Remove a borda do botão hamburger */
    background-color: transparent; /* Fundo transparente para o botão */
}

/* Ícone do hamburger visível apenas no mobile */
.navbar-toggler-icon {
    width: 30px; /* Largura total do ícone */
    height: 30px; /* Altura total do ícone */
    display: flex; /* Para alinhar as linhas */
    flex-direction: column; /* Para empilhar as linhas */
    justify-content: space-between; /* Espaçamento igual entre as linhas */
}

/* Linhas do hamburger */
.navbar-toggler-icon div {
    background-color: #796fcd; /* Cor das linhas do hamburger */
    height: 3px; /* Altura das linhas do hamburger */
    width: 100%; /* Largura total das linhas */
    margin-bottom: 6px;
}

/* Exibir o ícone hamburger apenas em telas pequenas */
@media (min-width: 768px) {
    .navbar-toggler {
        display: none; /* Oculta o botão hamburger em telas grandes */
    }
}

.nav-link {
    font-family: Poppins;
    color: #505050!important;
}

/* Estilo dos itens do menu lateral */
.offcanvas .nav-link {
    font-size: 18px;
    font-family: Poppins;
    color: #505050;
    padding: 15px;
    border-bottom: 1px solid #e0e0e0; /* Linha separadora */
}

.offcanvas .nav-link:hover {
    color: #796fcd;
}

/* Ajuste da largura do menu lateral */
.custom-offcanvas {
    width: 80% !important; /* Define a largura do offcanvas como 80% */
    border-radius: 15px 0px 0px 15px;
}

.logo-menu a {
    text-decoration: none;
}

.logo-menu span {
    font-family: Poppins;
    font-size: 32px;
    font-weight: 700;
    color: #796fcd;
}

/* FOOTER */
.footer {
    background-color: #796fcd;
    color: #ffffff;
    padding: 20px 0;
}

.footer .logo-footer a span {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.footer .social-icons a {
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
    font-family: Poppins;
}

.footer .social-icons a i {
    margin-right: 5px;
}

.footer .social-icons a:hover,
.footer .logo-footer a:hover {
    color: #d1c4ff; /* Efeito hover */
}

.footer .developer p {
    margin: 0;
    font-size: 14px;
    color: #f0f0f0;
    font-family: Poppins;
}

/* Responsividade Footer*/
@media (max-width: 576px) {
    .footer .logo-footer a span {
        font-size: 24px;
    }
    .footer .social-icons a {
        font-size: 12px;
    }
    .footer .developer p {
        font-size: 12px;
    }
}


/*CONTADOR*/
.countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 2rem;
}

.time-box {
    background-color: #796fcd; /* Cor lavanda */
    border-radius: 10px;
    padding: 20px 10px; /* Ajustando o padding */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100px; /* Aumentando a largura para 100px */
    overflow: hidden; /* Evita que o texto saia do quadrado */
}

.time-box span {
    display: block;
    font-size: 2rem; /* Tamanho do número */
    font-weight: bold;
    color: #ffffff;
    line-height: 1.2; /* Ajustando o espaçamento entre linhas */
}

.time-box div {
    font-size: 0.8rem; /* Tamanho do texto "Dias", "Horas", etc. */
    color: #ffffff;
    white-space: nowrap; /* Impede a quebra de linha */
}

.countdown-title {
    font-size: 2rem; /* Tamanho da fonte do título */
    font-weight: bold; /* Negrito */
    color: #796fcd;
    margin-bottom: 20px; /* Espaço abaixo do título */

}

/* INDEX */
.img-fundo {
    background-image: url('../imagens/foto-fundo.jpg');
    background-size: cover;
    background-position: center;
    height: 700px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-fundo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); /* Opacidade da cor */
    z-index: 1;
}

.img-fundo * {
    position: relative;
    z-index: 2; /* Garante que o conteúdo fique acima da camada de cor */
}

.texto-sobre-imagem {
    color: white; /* Cor do texto */
    text-align: center; /* Centraliza o texto */
    padding: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra nas letras */
}

.texto-sobre-imagem h1 {
    font-size: 32px;
    font-family: Poppins;
}

.texto-sobre-imagem p {
    font-size: 18px;
    font-family: Poppins;
}

.img-lavanda {
    height: 8rem;
    margin-top: 10px;
}

.texto-explicativo p {
    text-align: center;
    font-family: Poppins;
}

/*LISTA DE PRESENTES*/
.product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    transition: box-shadow 0.3s ease-in-out;
}

.product-card:hover {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.product-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-card img {
    height: 200px; /* Define uma altura fixa para o container da imagem */
    object-fit: contain; /* Ajusta a imagem dentro do container sem cortar */
    width: 100%; /* Garante que a largura seja sempre 100% */
}

.product-card h4, 
.product-card a {
    margin: 0;
    font-family: Poppins;
}

.btn-custom {
    display: inline-block;
    padding: 6px 12px; /* Tamanho do botão */
    background-color: #796fcd; /* Cor de fundo */
    color: #ffffff; /* Cor do texto */
    text-align: center; /* Centraliza o texto */
    text-decoration: none; /* Remove o sublinhado */
    border: none; /* Remove a borda */
    border-radius: 5px; /* Cantos arredondados */
    font-size: 16px; /* Tamanho da fonte */
    transition: background-color 0.3s; /* Efeito de transição para hover */
    cursor: pointer; /* Cursor tipo mão ao passar o mouse */
}

.btn-custom:hover {
    background-color: #685bb3; /* Cor de fundo ao passar o mouse */
    color: white; /* Mantém a cor do texto */
}

.btn-whatsapp {
    display: inline-block;
    padding: 6px 12px; /* Tamanho do botão */
    background-color: #ffffff; /* Cor de fundo */
    color: #198754; /* Cor do texto */
    text-align: center; /* Centraliza o texto */
    text-decoration: none; /* Remove o sublinhado */
    border: 1px solid #198754; /* Remove a borda */
    border-radius: 5px; /* Cantos arredondados */
    font-size: 16px; /* Tamanho da fonte */
    transition: background-color 0.3s; /* Efeito de transição para hover */
    cursor: pointer; /* Cursor tipo mão ao passar o mouse */
}

.btn-whatsapp i {
    color: #198754; /* Cor do ícone normal */
    transition: color 0.2s; /* Transição suave para a cor do ícone */
}

.btn-whatsapp:hover {
    background-color: #198754; /* Cor ao passar o mouse */
    color: #ffffff;
}

.btn-whatsapp:hover i {
    color: #ffffff;
}

.info-endereco {
    text-align: center;
}

.detalhes-endereco {
    margin-bottom: 0;
    font-family: Poppins;
}

/* Parte referente a desabilitar o item (apenas titulo e img): */
.disabled > h4, .disabled img {
    opacity: 0.5;  /* Tornar o elemento translúcido */
    pointer-events: none; /* Desabilitar interações com o elemento */
}

.disabled a {
    display: none; /* Sumir com os botões */
}

.msg-ganhamos {
    display: none; /* Deixar o parágrafo desabilitado por padrão */
    font-style: italic;
    font-family: Poppins;
}

.disabled .msg-ganhamos {
    display: block; /* Exibe o parágrafo quando a classe 'disabled' está presente */
    text-align: center;
    width: 100%;
    margin-top: 0.3rem;
}

/*CONFIRMAÇÃO DE PRESENÇA*/
.full-height {
    height: 100vh; /* 100% da altura da viewport */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;     /* Centraliza verticalmente */
}

.no-scroll {
    overflow: hidden; /* Desativa a rolagem */
}

.btn-presenca {
    display: inline-block;
    padding: 16px 40px; /* Tamanho do botão */
    background-color: #ffffff00; /* Cor de fundo */
    color: #ffffff; /* Cor do texto */
    text-align: center; /* Centraliza o texto */
    text-decoration: none; /* Remove o sublinhado */
    border: 1px solid #ffffff; /* Remove a borda */
    border-radius: 5px; /* Cantos arredondados */
    font-size: 1rem; /* Tamanho da fonte */
    transition: background-color 0.3s; /* Efeito de transição para hover */
    cursor: pointer; /* Cursor tipo mão ao passar o mouse */
    font-weight: 600;
}

.btn-presenca i {
    color: #ffffff; /* Cor do ícone normal */
    transition: color 0.2s; /* Transição suave para a cor do ícone */
}

.btn-presenca:hover {
    background-color: #796fcd; /* Cor ao passar o mouse */
    color: #ffffff;
}

.btn-presenca:hover i {
    color: #ffffff;
}

/* Estilo padrão para mobile (funciona bem) */
.img-fundo-confirmacao {
    background-image: url('../imagens/foto-confirmacao.jpg');
    background-size: cover; /* Garante que a imagem cubra toda a área */
    background-position: center;
    background-repeat: no-repeat; /* Evita repetição da imagem */
    height: 100vh; /* Altura da viewport */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo para telas maiores (desktop) */
@media (min-width: 768px) {
    .img-fundo-confirmacao {
        background-size: cover; /* Garante que a imagem cubra toda a área sem repetição */
        background-position: center; /* Mantém o centro da imagem visível */
        height: 100vh; /* Altura da viewport */
    }
}

.img-fundo-confirmacao::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Opacidade da cor */
    z-index: 1;
}

.img-fundo-confirmacao * {
    position: relative;
    z-index: 2; /* Garante que o conteúdo fique acima da camada de cor */
}
